.dark{
    --bg-black:#1d2023;
    --bg-nav:#3a497b;
    --color-active:#06a2d6;
    --color:#ffffff;
}
.light{
    --bg-black:#fdfdfd; 
    --color:#414141;
    
}
body{
    background-color: var(--bg-black);
    font-family: "Comfortaa", cursive;
}
nav .container{
    background-color: var(--bg-nav);
    box-shadow: 0 0 10px #070707b3;
}
nav .nav-link,nav .navbar-brand h5,.box h6,.box p{
    color:var(--color)!important;
}
nav .navbar-brand h5{
   font-size: 25px;
}
.navbar-nav .nav-link.active, .nav-link:hover, .navbar-nav .nav-link.show{
    color:var(--color-active)!important;
}
nav .navbar-brand img{
    width:52px;
}
 .cart{
     cursor: pointer;
     transition: 0.5s;
     filter: grayscale(0.7);
     position: relative;
 }
 .box{
    transition: 0.5s;
}
 .cart:hover{
    filter: grayscale(0);
    transform: scale(1.05);
 }
 .cart .box .date {
     transform: translateY(100%);
     transition: 0.5s;
     opacity: 0;
     position: absolute;
     bottom: 0;
     left: 0;
     background: #1d2023;
     color: whitesmoke!important;
     padding: 4px;
     border-radius: 8px;
     border: 1px solid black;
     font-size: 15px;
 }
 .cart:hover .box .date{
     opacity: 1;
     transform: translateY(0);
 }
 .scroll{
     right: 15px;
     bottom: 15px;
     width: 50px;
     height: 50px;
     cursor: pointer;
     opacity: 0;
     transition: 0.5s;
     transform: translateY(30px);
 }
 .scroll.show{
    opacity: 1;
   transform: translateY(0);
 }

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #181818; 
}

::-webkit-scrollbar-thumb {
    background: #000000; 
    border-radius: 6px; 
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid #FF3D00;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  .load{
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.9);
    z-index: 9999;
  }